/* Globals */
html {
    box-sizing: border-box;
}

*,*::before, *::after {
	box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
    padding: 0;
    margin: 0;
    
}

a {
    color: inherit;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    background: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


.header .container, .main .container, .news-and-form .container {
    display: flex;
}

.section-title {
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 3px solid;
}

.left-block, .news-box {
    width: 810px;
}

.socials-box, .users-box, .news-box, .events-box, .form-box {
    margin-bottom: 50px;
    border: 1px solid;
    padding: 20px;
}

.socials-box, .users-box, .form-box {
    max-width: 350px;
    min-width: 350px;
}

/* Header */
.header {
    color: gray;
    padding-top: 40px;
}

.header__text {
    text-align: center;
    margin-right: auto;
}

.menu__list-item {
    display: inline-block;
    margin-right: 20px;
}

.menu__list-item:last-child {
    margin-right: 0;
}

.main-title {
    text-align: center;
    font-size: 88px;
    margin: 20px 0;
}

.navbar {
    background-color: #363636;
    color: white;
    padding: 15px 30px;
    margin-bottom: 40px;
}

.navbar__list  {
    display: flex;
}

.navbar__list-item {
    margin-right: 30px;
}

.navbar__list-item:last-child {
    margin-right: 0;
}

.second-title {
    font-size: 45px;
    margin-bottom: 30px;
}

.second-text {
    margin-bottom: 30px;
}

/* Gallery */
.gallery {
    padding-bottom: 50px;
}

.upper-gal {
    display: flex;
    justify-content: space-between;
}

.upper-gal__item {
    margin-bottom: 5px;
}

.upper-gal__item img {
    display: block;
    width: 100%;
}

.bottom-gal {
    display: flex;
    justify-content: space-between;
}

.bottom-gal__item img {
    display: block;
    width: 100%;
    height: auto;
}

.main .container {
    justify-content: space-between;
}

/* Events */
.events-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0;
}

.event {
    width: 360px;
    margin-bottom: 35px;
}

.event a {
    display: flex;
    flex-direction: column;
}

.event__img {
    position: relative;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

.event__title {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 14px;
    padding: 4px 15px 7px 10px;
    background-color: blue;
}

.event:nth-child(1) .event__title {
    background-color: #468ED8;
}

.event:nth-child(2) .event__title {
    background-color: #5CC08C;
}

.event:nth-child(3) .event__title {
    background-color: #BD76B6;
}

.event:nth-child(4) .event__title {
    background-color: #E1B173;
}

.event__name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 7px;
}

.event__date {
    font-size: 14px;
    color: gray;
}

.events__btn {
    display: block;
    margin: 0 auto 30px;
    width: 250px;
    height: 70px;
    background-color: #5CBD5C;
    color: #fff;
    font-size: 15px;
    border-radius: 7px;
    text-align: center;
}

/* Socials */
.socials-list {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px 20px;
}

.socials-list__item {
    text-align: center;
}

.socials-list__item p {
    padding-top: 15px;
    color: gray;
}

.socials-list__item img {
    width: 100%;
    max-width: 45px;
}

/* users */
.users-box {
    padding-bottom: 113px;
}

.users-list {
    padding: 40px 0 20px;
}

.users-info {
    margin-left: 10px;
}

.users-list__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.users-list__item img {
    width: 67px;
}

.users-list__item:last-child {
    margin-bottom: 0;
}

.users-info__name {
    font-weight: 700;
}

.users-info__post {
    color: gray;
}

/* lectures */
.lectures-box {
    margin: 0 auto 50px;
    padding: 20px;
    background-color: #F4F4F4;
}

.lectures__title {
    display: inline-block;
    border-bottom: 2px solid;
}

.lectures-list {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 20px;
}

.lectures-list__item {
    width: 284px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
}

/* news */
.news-list__item {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
}

.news-info {
    padding-left: 20px;
}

.news-info__title {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.news-info__sign,
.news-info__date {
    color: gray;
}

.news-info__sign {
    font-size: 14px;
    margin-bottom: 7px;
}

.news-info__date {
    font-size: 13px;
}

/* Reg form */
.news-and-form .container {
    justify-content: space-between;
}

.form-box__title {
    margin-bottom: 25px;
}

.form-box__msg {
    font-size: 15px;
    font-weight: 500;
    max-width: 65%;
    margin-bottom: 15px;
    color: #6A6A6A;
}

.form-box__input {
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #979797;
    color: #000;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form-box__input:hover,
.form-box__input:active,
.form-box__input:focus {
    border-color: #000;
}

.form-box__input:active,
.form-box__input:focus {
    border-width: 2px;
}

.form-box__btn {
    display: block;
    width: 40%;
    margin-left: auto;
    text-align: center;
    padding: 15px 10px;
    color: #5CBD5C;
    border: 1px solid #5CBD5C;
    border-radius: 7px;
    transition: all .3s ease;
}

.form-box__btn:hover {
    background-color: #5CBD5C;
    color: #fff;
}

.form-box__btn:active {
    transform: scale(.95);
}

/* Footer */
.footer {
    background-color: #363636;
    text-align: center;
    color: gray;
    padding: 50px 0;
}